@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

/* KeyFrames */
@keyframes mouseMove {
  50% {
    transform: translateY(1rem) translateX(-50%);
  }
}

@keyframes scalePerson {
  to {
    transform: scale(1.05);
    margin-bottom: 1em;
  }
}

@keyframes scalePersonBack {
  from {
    transform: scale(1.05);
    margin-bottom: 1em;
  }
  to {
    transform: scale(1);
    margin-bottom: 0;
  }
}
/* End KeyFrames */

/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  color: #2f375b;
}

.container {
  max-height: 5vh;
}
/* End General */

/* Buttons */
.btn-yellow {
  background-color: #fec240;
}

.btn-yellow:hover {
  background-color: white;
  border: 1px solid #d69d1d;
  box-shadow: 6px 6px 0 rgba(255, 255, 255, 0.3);
  color: #fec240;
}

.btn-red {
  background-color: #de4b43;
}

.btn-red:hover {
  background-color: white;
  border: 1px solid #923530;
  box-shadow: 6px 6px 0 rgba(255, 255, 255, 0.3);
  color: #de4b43;
}

.btn-lightblue {
  background-color: #98c4d1;
}
.btn-lightblue:hover {
  background-color: white;
  border: 1px solid #578897;
  box-shadow: 6px 6px 0 rgba(255, 255, 255, 0.3);
  color: #98c4d1;
}

.btn-darkblue {
  background-color: #2f375b;
}

.btn-darkblue:hover {
  background-color: white;
  border: 1px solid #5d699e;
  box-shadow: 6px 6px 0 rgba(255, 255, 255, 0.3);
  color: #2f375b;
}

.btn-green {
  background-color: #3bb28c;
}

.btn-green:hover {
  background-color: white;
  border: 1px solid #1c6d53;
  box-shadow: 6px 6px 0 rgba(255, 255, 255, 0.3);
  color: #3bb28c;
}

/* Landings Page */
.landing {
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 5;
}

.landing .character {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 5;
  justify-content: center;
  align-items: center;
}

.landing .character .mobile-object {
  display: none;
}

.landing .character .charImg {
  cursor: pointer;
  height: 70%;
  animation: scalePersonBack 300ms ease-in-out forwards;
}

.landing .character .charImg:hover {
  animation: scalePerson 300ms ease-in-out forwards;
}

.landing .character h1 {
  color: white;
  font-size: 52px;
  margin-top: 10px;
}

.landing .mouse {
  position: absolute;
  bottom: 2em;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  animation: mouseMove 2s infinite linear;
  cursor: pointer;
}
/* End Landings Page */

/* Home Page Persons */
.person {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15vw;
  position: relative;
}

.person .info {
  background-color: white;
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.3);
  padding: 1em 2em;
  display: block;
  margin-left: auto;
}

.person .info h2 {
  font-size: 54px;
}

.person a {
  display: block;
  text-decoration: none;
  float: right;
  color: white;
  font-size: 20px;
  margin-top: 1.5em;
  border: 1px solid white;
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.3);
  padding: 4px 3em;
  transition: 200ms;
}

.person lottie-player {
  width: 400px;
  height: 400px;
  position: relative;
  right: 500px;
  bottom: 75px;
}

article#p1 {
  background-color: #fec240;
  z-index: 6;
}

article#p2 {
  background-color: #de4b43;
  z-index: 7;
}

article#p3 {
  background-color: #98c4d1;
  z-index: 8;
}

article#p4 {
  background-color: #2f375b;
  z-index: 9;
}

article#p5 {
  background-color: #3bb28c;
  z-index: 10;
}
/* End Home Page Persons */

/* Personal Page */
.personalPage {
  display: flex;
  min-height: 100vh;
  max-height: inherit;
}

.personalPage .back-btn {
  text-decoration: none;
  color: white;
  position: relative;
  top: 4em;
  font-weight: bold;
  left: 8%;
  font-size: 18px;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  height: 20px;
}

.personalPage .back-btn:hover {
  text-decoration: underline;
}

.personalPage .character {
  flex: 1;
  height: 80vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  margin: 10vh 5%;
}

.personalPage .character video {
  height: 85%;
}

.personalPage .character h1 {
  color: white;
  font-size: 52px;
  margin-top: 10px;
}

.personalPage .object {
  position: absolute;
  height: 100px;
  left: 25vw;
  bottom: 20vh;
}

.personalPage .blog {
  flex: 3;
  height: 80vh;
  margin: 10vh 5% 10vh 0;
  background-color: white;
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.3);
  display: flex;
}

.personalPage .blog nav {
  border-right: 1px solid #cecece;
  height: 100%;
  width: 20%;
  padding: 2em;
}

.personalPage .blog nav ul {
  list-style-type: none;
  width: 100%;
}

.personalPage .blog nav ul li {
  margin-bottom: 2em;
  width: 100%;
  display: flex;
  justify-content: center;
}

.personalPage .blog nav ul li a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.personalPage .blog nav ul li a p {
  font-size: 12px;
}

.personalPage .blog .process {
  height: 90%;
  width: 100%;
  padding: 0 2em;
  overflow: scroll;
  margin: 2em 0;
}

.personalPage .blog .process .learningGoal {
  display: none;
}

.personalPage .blog .process h1 {
  font-size: 32px;
  font-weight: 500;
}

.personalPage .blog .process h2 {
  font-weight: 500;
}

.personalPage .blog .process img {
  max-width: 100%;
  margin: 10px 0;
}

/* --------------- Tablet ----------------- */
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* Landings Page */
  .landing .character .charImg {
    height: 35%;
  }

  .landing .character .mobile-object {
    display: none;
  }

  .landing .character h1 {
    font-size: 32px;
  }
  /* End Landings Page */

  /* Home Page Persons */
  .person {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding: 0 15vw;
    position: relative;
  }

  .person lottie-player {
    width: 400px;
    height: 400px;
    position: relative;
    right: 0;
    bottom: 0;
  }
  /* End Home Page Persons */

  /* Personal Page */
  .personalPage {
    flex-direction: column;
    height: auto;
  }

  .personalPage .character {
    height: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 2em;
  }

  .personalPage .character video {
    height: 40vh;
  }

  .personalPage .object {
    position: absolute;
    height: 75px;
    left: 55%;
    top: 35vh;
  }

  .personalPage .blog {
    flex-direction: column;
    margin: 10vh 5% 10vh 5%;
    max-height: 80vh;
  }

  .personalPage .blog nav {
    border-right: none;
    border-bottom: 1px solid #cecece;
    width: 100%;
    height: auto;
    padding: 1em;
  }

  .personalPage .blog nav ul {
    display: flex;
    flex-direction: row;
  }

  .personalPage .blog nav ul li {
    margin-bottom: 0;
  }

  /* End Personal Page */

  .personalPage .back-btn {
    width: 100px;
  }
}
/* --------------- End Tablet ----------------- */

/* ----------------- Mobile ------------------- */
@media screen and (max-width: 481px) {
  .landing {
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 5;
    flex-direction: column;
  }

  .landing .character {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20vh;
    align-items: center;
    justify-content: flex-start;
    padding: 0 2em;
  }

  .landing .character .mobile-object {
    display: block;
    width: 15%;
    margin-right: 2em;
  }

  .landing .character .charImg {
    display: none;
  }

  .landing .character h1 {
    color: white;
    font-size: 52px;
    margin-top: 10px;
  }

  .landing .mouse {
    display: none;
  }

  .person {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 1em 2em 1em;
  }

  .person lottie-player {
    width: 300px;
    height: 300px;
    transform: translateY(-2em);
    position: relative;
    right: 0;
    bottom: 0;
  }

  .person .info h2 {
    font-size: 32px;
  }

  .person a {
    padding: 6px 3em;
  }

  /* Personal Page */
  .personalPage {
    flex-direction: column;
    height: auto;
  }

  .personalPage .character {
    height: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 2em;
  }

  .personalPage .character video {
    height: 40vh;
  }

  .personalPage .object {
    position: absolute;
    height: 50px;
    left: 55%;
    top: 38vh;
  }

  .personalPage .blog {
    flex-direction: column;
    margin: 10vh 5% 10vh 5%;
    max-height: 80vh;
  }

  .personalPage .blog nav {
    border-right: none;
    border-bottom: 1px solid #cecece;
    width: 100%;
    height: auto;
    padding: 1em 1em 0 1em;
  }

  .personalPage .blog nav ul {
    display: flex;
    flex-direction: column;
  }

  .personalPage .blog nav ul li {
    margin-bottom: 0;
    border-bottom: 1px solid #cecece;
    padding: 10px 0;
    justify-content: flex-start;
  }

  .personalPage .blog nav ul li:last-child {
    border-bottom: none;
  }

  .personalPage .blog nav ul li a {
    flex-direction: row;
    width: 100%;
  }

  .personalPage .blog nav ul li a strong {
    margin-right: 1em;
  }

  .personalPage .back-btn {
    width: 100px;
  }

  /* End Personal Page */
}
/* --------------- End Mobile ----------------- */
